.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.9fr 1.1fr;
    gap: 40px 40px;
    grid-auto-flow: row;
    grid-template-areas:
      "image1 image1 image4"
      "image1 image1 image5"
      "image2 image3 image5";
  }
  
  .image1 { grid-area: image1; }
  
  .image2 { grid-area: image2; }
  
  .image3 { grid-area: image3; }
  
  .image4 { grid-area: image4; }
  
  .image5 { grid-area: image5; }
  